@import "tailwindcss";

:root {
  --foreground-rgb: 203, 213, 225;
  --background-start-rgb: 2, 6, 23; /* Slate 950 */
  --background-end-rgb: 2, 6, 23;
}

body {
  background: rgb(var(--background-start-rgb));
}

/* Custom Scrollbar for that Cyberpunk feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #22d3ee; /* Cyan 400 */
}